.formLogin {
    width: 100%;
    height: 100vh;
    background: url('../../../img/Admin/LoginPage/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 3.2rem;
    margin: 1.2rem 0 1.2rem 0;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputUsername {
    border: none;
    color: #fff;
    background-color: rgba($color: #000000, $alpha: 0.2);
    width: 100%;
    padding: 0.8rem 8rem 0.8rem 1.6rem;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    border-radius: 0.4rem;
}

.inputPassword {
    color: #fff;
    border: none;
    background-color: rgba($color: #000000, $alpha: 0.2);
    width: 100%;
    padding: 0.8rem 8rem 0.8rem 1.6rem;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    border-radius: 0.4rem;
}

.btnLogin{
    background-color: #000;
    color: #fff;
    width: 100%;
    padding: 0.8rem;
    border-radius: 0.8rem;
}

.btnLogin:hover{
    opacity: 0.8;
}